<section class="[ band  band--large  band--tint ]  mb" id="section:carousel" data-ui-component="Quotes carousel">

<div class="carousel">

  <ul class="carousel__panes">
<!-- Because of how the css is hardcoded (urgh), this quote carousel must have 5 quotes or it will break -->

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>When our research manager unexpectedly proved unavailable for a client meeting, Koen stepped up and effectively illustrated our projects to great appeal from his audience. His contribution was insightful, highly professional, and key to securing a further partnership. His scientific work at the University of Cambridge has equally been of very high standard.</p>
        <b class="pull-quote__source"><a href="mailto:jnr24@cam.ac.uk">Prof. Dr. John Rust</a>, Cambridge Psychometrics Centre</b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>Koen is an extremely accomplished person whose professionalism, confidence and maturity far outstrip most other Master students that I have worked with.</p>
        <b class="pull-quote__source"><a href="mailto:wouter.duyck@UGent.be">Prof. Dr. Wouter Duyck</a>, Ghent University</b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>His sharp, analytical approach and fresh insight met with great interest both in and outside our department.</p>
        <b class="pull-quote__source"><a href="mailto:Johan.Braeckman@UGent.be">Prof. Dr. Johan Braeckman</a>, Ghent University</b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>Koen is a highly talented developer and great pleasure to work with.</p>
        <b class="pull-quote__source"><a href="mailto:wouter.duyck@UGent.be">Robert Gibbon</a>, Big Industries</b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>Koen's dedication and talent are really impressive, I very much appreciated the chance to work with him.</p>
        <b class="pull-quote__source"><a href="mailto:koesbong@gmail.com">Koes Bong</a>, Salemarked</b>
      </blockquote>
    </li>
<!--
    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>Harry’s workshop was excellent; we left with tons of new ideas and techniques to improve both the CSS architecture and overall performance of <a href="http://behance.com/" class="carousel__link">Behance</a> and <a href="http://myportfolio.com/" class="carousel__link">Adobe Portfolio</a>.</p>
        <b class="pull-quote__source"><a href="http://jackiebalzer.com/">Jackie Balzer</a>, Adobe</b>
      </blockquote>
    </li>
-->
  </ul>

</div>

</section>
