<section class="band  band--attention" id="section:clients" data-ui-component="Clients">

<div class="wrapper  wrapper--wide">

  <h3 class="client-list-title">Trusted by:</h3>

  <ul class="client-list">

    <li class="client-list__item">
      <a href="http://www.bigindustries.be/"> <img src="/img/content/clients/bigindustries.png" class="client-list__logo" alt="" title="Big Industries" /> </a>
    </li>

    <li class="client-list__item">
      <a href="http://www.biztory.com/"> <img src="/img/content/clients/biztory.png" class="client-list__logo" alt="" title="Biztory" /> </a>
    </li>

    <li class="client-list__item">
      <a href="https://www.cei.washington.edu/"> <img src="/img/content/clients/cei.png" class="client-list__logo" alt="" title="Clean Energy Institute" /> </a>
    </li>

    <li class="client-list__item">
      <a href="http:///www.cies.org/"> <img src="/img/content/clients/fulbright.png" class="client-list__logo" alt="" title="Fulbright" /> </a>
    </li>

    <li class="client-list__item">
      <a href="https://www.google.com/about/working/inside-google-seattle-kirkland-offices/"> <img src="/img/content/clients/google.png" class="client-list__logo" alt="" title="Google" /> </a>
    </li>

    <li class="client-list__item">
      <a href="https://www.jnj.com/"> <img src="/img/content/clients/johnson.png" class="client-list__logo" alt="" title="Johnson & Johnson" /> </a>
    </li>

    <li class="client-list__item">
      <a href="https://www.kairoshq.com/"> <img src="/img/content/clients/kairos.png" class="client-list__logo" alt="" title="Kairos Society" /> </a>
    </li>

    <li class="client-list__item">
      <a href="http://www.medialaan.be/"> <img src="/img/content/clients/medialaan.png" class="client-list__logo" alt="" title="Medialaan" /> </a>
    </li>

    <li class="client-list__item">
      <a href="http://www.ucb.com/"> <img src="/img/content/clients/ucb.png" class="client-list__logo" alt="" title="UCB" /> </a>
    </li>

    <li class="client-list__item">
      <a href="https://www.cam.ac.uk/"> <img src="/img/content/clients/uni-cambridge.png" class="client-list__logo" alt="" title="Cambridge University" /> </a>
    </li>

    <li class="client-list__item">
      <a href="https://www.ugent.be/"><img src="/img/content/clients/uni-ghent.png" class="client-list__logo" alt="" title="Ghent University" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.eur.nl/"> <img src="/img/content/clients/uni-rotterdam.png" class="client-list__logo" alt="" title="Erasmus Universiteit Rotterdam" /> </a>
    </li>

    <li class="client-list__item">
      <a href="http://www.washington.edu/"> <img src="/img/content/clients/uni-washington.png" class="client-list__logo" alt="" title="University of Washington" /> </a>
    </li>

  </ul>

</div>

</section>

