<section class="band  band--highlight">

  <div class="wrapper">

    {% include newsletter.html %}

  </div>

</section>

<section class="[ band  band--tint ]  page-foot">

    <div class="wrapper">

        <div class="layout  layout--middle">
            <div class="layout__item  lap-and-up-one-quarter">
                <p>I am available for hire to consult, advise, and develop with passionate product teams across the globe.</p>
            </div>
            <div class="layout__item  lap-and-up-one-quarter">
                <p>I specialise in large, product-based projects where performance, scalability, and maintainability are paramount.</p>
            </div>
            <div class="layout__item  lap-and-up-one-half">
               <p><a href="/services/" class="btn  btn--secondary  btn--full">I am currently <strong>considering new projects</strong> for 2018
               </a></p>
               <!--
               <script type="text/javascript">
               var d = new Date()
               d.targetDate.setDate(targetDate.getDate() + 90)
               function getQuarter(d) {
               var q = [4,1,2,3]
               document.write(q[Math.floor(d.getMonth() / 3)])
               }
               document.write(d.getFullYear())
               </script>
               </a></p>
               -->
            </div>
        </div>

    </div>

</section>

<footer class="page-micro">

    <p class="wrapper">
        <small class="page-micro__copy">
          <b>Copyright ©  
          <script type="text/javascript">
          var now = new Date()
          document.write(d.getFullYear())
          </script>
          Koen De Couck</b>
        </small>
      <!--
        <small class="page-micro__copy"><b>DECOUCK BVBA</b> is a company registered in Belgium. <b>Company No.</b> xxx, <b>VAT No.</b> xxx</small>
      -->
    </p>

</footer>
