<p>Hi there, I’m Koen. I am an <a href="https://nl.wikipedia.org/wiki/Lijst_van_scriptieprijzen">award-winning</a> <b>big data consultant, architect</b>, <b>developer</b>, <b>writer</b> and <b>speaker</b> from Belgium. I <a href="http://github.com/koendecouck">share code</a> and <a href="/speaking/">speak</a> about Hadoop frameworks. You can <a href="/contact/">hire me</a>.</p>

<p><a href="https://twitter.com/koendecouck" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @koendecouck</a></p>

<hr />

<p class="text-banner">
  <a href="/services/" class="btn  btn--full  btn--positive">I am currently <strong>accepting new projects</strong> for 
  <script type="text/javascript">
    document.write(new Date().getFullYear());
  </script>
  </a>
</p>

<article class="[ box  box--highlight ]  mb" data-ui-component="ad">
  {% include adpacks.html %}
</article>

<h4>Projects</h4>
{% if page.page-class == "page--home" %}
  {% assign image-ext = "-home" %}
{% else %}
  {% assign image-ext = null %}
{% endif %}

<!-- Unordered list of 2 or 3 projects that you're most proud of -->
<ul class="[ list-ui  list-ui--small ]  mb">
  <li><a href="https://github.com/koendecouck/radiometer"><img src="/img/content/project-radiometer{{ image-ext }}.png" alt="radiometer" /></a></li>
  <li><a href="https://public.tableau.com/profile/koendecouck#!/vizhome/Koen2014-06-05c/FinalizedVisualization"><img src="/img/content/project-tableauindia{{ image-ext }}.png" alt="tableauindia" /></a></li>
</ul>

<h4>Next Appearance</h4>

<ul class="list-ui  list-ui--small">

  {% include speaking.html %}

</ul>
